#mainTable {
  width: 950px;
  border: 1px solid grey;
  background-color: white;
  color: black;
}

th {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 5px;
}

td {
  font-weight: 600;
  font-size: 0.9rem;
  border-bottom: 0.5px solid rgb(221, 221, 221);
  padding: 5px;
}

tr {
  text-align: left;
  font-size: 1.2rem;
}

.tabletitle{
  color: black;
  background-color: grayscale($color: #d2cfcf);
}
